# Unset the text attribute on all files.
# Git will treat all files as non-text when doing line-ending-normalization, disabling it completely.
# Other text-specific git commands (e.g. diff) are unaffected. **Only line ending normalization is changed.**
# https://stackoverflow.com/a/64633700
* -text

# Code files
*.cake diff=csharp
*.cs   diff=csharp

# Shell scripts
*.in diff=bash
*.sh diff=bash

# Markdown files
*.md diff=markdown

# Document files
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain
